<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
</head>
<body>
    <form action = "/getcookie" method = "GET">
        <p><h3>Enter userID</h3></p>
        <p><input type = "text" name = "nm"></p>
        <p><input type = "submit" value = "Get My Cookies"></p>
    </form>
</body>
</html>